@model Alumno
@{
    ViewData["Title"] = "Informacion De Alumnos";
}
<h1> @ViewData["Title"]</h1>
<strong>Vista de ventana parcial</strong>
<partial name="ObjetoEscuelaSimple"/>


<p><i>@ViewBag.DataDinamico</i></p>
<p><i>@ViewBag.Fecha</i></p>
