@model List<Asignatura>
@{
    ViewData["Title"] = "Informacion Asignatura";
}
<h1> @ViewData["Title"]</h1>
<strong>Vista de ventana parcial</strong>
@foreach (var asignatura in Model)
{ 
<partial name="ListaObjetoEscuela"/>
}


<p><i>@ViewBag.DataDinamico</i></p>
<p><i>@ViewBag.Fecha</i></p>
